<!DOCTYPE html>

<head>
    <title>
        Resultado del Modelo
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="contenedor">
        <h1>
            Modelo de producción de ventanas
        </h1>
        <form method="POST">
            <div>
                <input type="number" name="madera" placeholder="ingrese la utilidad de madera" value="0"></input>
                <input type="number" name="aluminio" placeholder="ingrese la utilidad de aluminio" value="0"></input>
            </div>
            <button type="submit">Resolver el modelo</button>

        </form>
        
        <p>
            El resultado de x1: {{ res1 }}
            El resultado de x2: {{ res2 }}
            El resultado de la función objetivo: {{ fo }}
        </p>
</div>
</body>


</html>